# Homework 1

## 1.) Read the CSV file into a pandas dataframe

In [1]:
# Download data if it is not present
import os
p = os.path.split(os.getcwd())
p = os.path.join(p[0], 'data')
if not os.path.exists(p):
    os.mkdir(p)
p = os.path.join(p, 'bikes.csv')
if not os.path.exists(p):
    from subprocess import call
    data_dir, _ = os.path.split(p)
    os.chdir(data_dir)
    call('curl -o bikes.csv https://data.seattle.gov/api/views/65db-xm6k/rows.csv?accessType=DOWNLOAD', shell=True)
else:
    pass

In [3]:
# Load the CSV file into a pandas dataframe
import pandas as pd
df = pd.read_csv(p)
df[:3]

,Date,Fremont Bridge East Sidewalk,Fremont Bridge West Sidewalk
0,10/03/2012 12:00:00 AM,9.0,4.0
1,10/03/2012 01:00:00 AM,6.0,4.0
2,10/03/2012 02:00:00 AM,1.0,1.0

## 2.) Add columns to the dataframe